@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
body {
  background: #00000c;
  color: #b0fdff;
  font-size: 17px;
  font-family: "Press Start 2P", sans-serif;
}

span {
  outline: none;
  text-transform: uppercase;
}
.wrap {
  max-width: 500px;
  margin: 50px auto;
}
ul {
  list-style: none;
  padding: 0;
  display: block;
}
li {
  display: block;
  text-shadow: 0 0 17px #5d9293;
  padding: 20px 0;
}

.blinker {
  opacity: 0.1;
}

input {
  background: #00000c;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  color: white;
  text-shadow: 0 0 17px #5d9293;
}

#input-restart-field {
  opacity: 0;
}
